/* #menu {
    height: 100vh;
    display: block;
    justify-content: center;
    align-items: center;
    position: relative;
} */

#menu{
    
    display: block;
    padding: 1.5rem;
    /* height: 100vh; */
    /* align-items: center; */

}
.menu-content {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

/* .menu-btn {
    font-size: 1.5rem;
    width: 20vw;
    padding: 1rem;
    background: white;
  }
  
.menu-btn:hover {
    cursor: pointer;;
} */