#menu{
    display: block;
    padding: 1.5rem;

}
.menu-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

#homepage-text {
    font-size: 100px;
    padding: 1.5rem;
}

input { 
    padding-left: 20px;
    font-size: 1.5rem;
    width: 80%;
}
.menu-btn {
    font-size: 1.5rem;
    padding: 1rem;
    margin: 1.5rem;
}
  
.menu-btn:hover {
    cursor: pointer;
    background-color: seagreen;
}
